# dependencies
/node_modules
/db/*

# ide
.idea
/.idea/*
npm-debug.log

*.crt
*.key
db/
/storage/

# ignore everything except orinal auth files
/src/auth/*
!/src/auth/access.js
!/src/auth/index.js
!/src/auth/method.js